<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="cod">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Código </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.cod}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Preço </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dyMonth">
      <mat-header-cell *matHeaderCellDef mat-sort-header> DY Mês </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dyMonth}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="pvp">
      <mat-header-cell *matHeaderCellDef mat-sort-header> P/VP </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.pvp}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; let even = even columns: displayedColumns;" [ngClass]="{'row-even': even}" (click)="onRowClick(row)">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
</div>
