.stock-grid {
  .mat-sort-header-button {
    color: $bg-indicator;
    font-weight: bold;
  }
  .mat-row {
    cursor: pointer;
  }
  .mat-form-field {
    margin-left: 15px;
  }
  .grid-title {
    margin-left: 15px;
  }
}
