<section class="indicators">

  <div class="indicators-data">
    <div class="container">
      <mat-grid-list cols="12" [gutterSize]="'10px'" (window:resize)="onResize($event)">
        <mat-grid-tile [colspan]="4">
          <div class="card">
            <span *ngIf="!stock?.cod">Empresa</span>
            {{stock?.cod}}<span class="indicators-value">{{stock?.name}}</span>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2">
          <div class="card card-empty">
            Valor Atual<span class="indicators-value">{{stock?.price | currency:'BRL':true}}</span>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2">
          <div class="card card-empty">
            Dividend Yield Mês<span class="indicators-value">{{stock?.dyMonth | percent}}</span>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2">
          <div class="card card-empty">
            Dividend Yield<span class="indicators-value">{{stock?.dyYear | percent}}</span>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2">
          <div class="card card-empty">
            P/VP<span class="indicators-value">{{stock?.pvp | percent}}</span>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
  <app-indicator-graph *ngIf="dataSource.length" [stock]="stock"></app-indicator-graph>


</section>

<section class="stock-grid">
  <app-stock-grid [data]="dataSource" *ngIf="dataSource.length" (rowClick)="onRowClick($event)"></app-stock-grid>
</section>

<!-- <div class="container">
  <mat-grid-list cols="2">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>
      <app-indicator-graph></app-indicator-graph>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->

<!-- <div class="container">
    <mat-grid-list cols="2">
      <mat-grid-tile>1</mat-grid-tile>
      <mat-grid-tile>
        <app-indicator-graph></app-indicator-graph>
      </mat-grid-tile>
    </mat-grid-list>
  </div> -->
